@model ProductViewModel

<div class="product-details">
    <div class="col-sm-5">
        <div class="view-product">
            <img src="~/images/shop/@Model.ImageUrl" style="width: 100% !important; height: 100% !important;" alt="" />
            <h3>ZOOM</h3>
        </div>
        <div id="similar-product" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#"><img src="~/images/product-details/similar1.jpg" alt=""></a>
                    <a href="#"><img src="~/images/product-details/similar2.jpg" alt=""></a>
                    <a href="#"><img src="~/images/product-details/similar3.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"><img src="~/images/product-details/similar1.jpg" alt=""></a>
                    <a href="#"><img src="~/images/product-details/similar2.jpg" alt=""></a>
                    <a href="#"><img src="~/images/product-details/similar3.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"><img src="~/images/product-details/similar1.jpg" alt=""></a>
                    <a href="#"><img src="~/images/product-details/similar2.jpg" alt=""></a>
                    <a href="#"><img src="~/images/product-details/similar3.jpg" alt=""></a>
                </div>
            </div>
            <a class="left item-control" href="#similar-product" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right item-control" href="#similar-product" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="product-information">
            <img src="~/images/product-details/new.jpg" class="newarrival" alt="" />
            <h2>@Model.Name</h2>
            <p>Web ID: @Model.Id.ToString("000000")</p>
            <img src="~/images/product-details/rating.png" alt="" />
            <span>
                <span>@Model.Price.ToString("C")</span>
                <label>Quantity:</label>
                <input type="text" value="3" />
                <a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-default add-to-cart">
                    <i class="fa fa-shopping-cart"></i>Add to cart
                </a>
            </span>
            <p><b>Availability:</b> In Stock</p>
            <p><b>Condition:</b> New</p>
            <p><b>Brand:</b>@(Model.Brand ?? "")</p>
            <a href=""><img src="~/images/product-details/share.png" class="share img-responsive" alt="" /></a>
        </div>
    </div>
</div>
