@model IEnumerable<Product>

@{ ViewBag.Title = "Admin - Products"; }

@section Scripts
{
    <script type="text/javascript">
        $('.delconfirm').on('click', function () {
            return confirm('Are you sure?');
        });
    </script>
}

<a asp-controller="Products" asp-action="Create" class="btn btn-primary" style="width: 90%; margin: 15px 5%; padding: 20px;">Create new...</a>
<h4>List of Proucts:</h4>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(product => product.Id)</th>
            <th>@Html.DisplayNameFor(product => product.Name)</th>
            <th>@Html.DisplayNameFor(product => product.Brand)</th>
            <th>@Html.DisplayNameFor(product => product.Section)</th>
            <th>@Html.DisplayNameFor(product => product.ImageUrl)</th>
            <th>@Html.DisplayNameFor(product => product.Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td><a asp-controller="Products" asp-action="Edit" asp-route-id="@p.Id"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td>@Html.DisplayFor(m => p.Id)</td>
                <td>@Html.DisplayFor(m => p.Name)</td>
                <td>@Html.DisplayFor(m => p.Brand.Name)</td>
                <td>@Html.DisplayFor(m => p.Section.Name)</td>
                <td><img src="~/images/shop/@p.ImageUrl" width="50" alt="@p.Name" /></td>
                <td>@Html.DisplayFor(m => p.Price)</td>
                <td>
                    <form asp-controller="Products" asp-action="Remove" asp-route-id="@p.Id" class="text-danger">
                        <button type="submit" class="delconfirm"><i class="glyphicon glyphicon-remove"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>