@model IEnumerable<GbWebApp.Domain.ViewModels.SectionViewModel>
@{
    var sectionId = ViewBag.SectionId;
    var parentSectionId = ViewData["ParentSectionId"];
}

<div class="panel-group category-products" id="accordian">
    <h2>Category</h2>
    @foreach (var parentSection in Model.Where(p => p.TotalProdCnt > 0))
    {
        if (parentSection.ChildSections.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title @(parentSection.Id == (int?)parentSectionId || parentSection.Id == (int?)sectionId ? "active" : null)">
                        <a data-toggle="collapse" data-parent="#accordian" href="#@parentSection.GetHashCode()">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        </a>
                        <a asp-controller="Shop" asp-action="Index" asp-route-SectionId="@parentSection.Id">@parentSection.Name (@parentSection.ProductCount + @(parentSection.TotalProdCnt - parentSection.ProductCount))</a>
                    </h4>
                </div>
                <div id="@parentSection.GetHashCode()" class="panel-collapse collapse @(parentSection.Id == (int?)parentSectionId ? "in" : null)">
                    <div class="panel-body">
                        <ul>
                            @foreach (var childSection in parentSection.ChildSections.Where(c => c.TotalProdCnt > 0))
                            {
                                <li @(childSection.Id == sectionId ? "class=active" : null)>
                                    <a asp-controller="Shop" asp-action="Index" asp-route-SectionId="@childSection.Id"> <span class="pull-right">(@childSection.ProductCount)</span>@childSection.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title @(parentSection.Id == (int?)sectionId ? "active" : null)">
                        <a asp-controller="Shop" asp-action="Index" asp-route-SectionId="@parentSection.Id">@parentSection.Name (@parentSection.ProductCount + @(parentSection.TotalProdCnt - parentSection.ProductCount))</a>
                    </h4>
                </div>
            </div>
        }
    }
</div>
